    <div class="col-lg-12">
        <p><strong>{{req.token}} payout processed: {{req.processed}}</strong></p>
        <p>
            Date: {{ req.date|format_timestamp }}
        </p>
        <p>
            Receiver Name: {{req.receiver}}
        </p>
        <p>
            Receiver Account: {{req.receiver_account}}
        </p>
        <p>
            Receiver Reference: {{req.receiver_reference}}
        </p>
        <p>
            Receiver Code: {{req.receiver_code}}
        </p>
        <p>
            Receiver Particulars: {{req.receiver_particulars}}
        </p>
        <p>
            Amount: {{req.amount}} cents
        </p>
        {% if not group %}
        <p>
            BNZ IB4B File: <a href="/payout_request/BNZ_IB4B_file/{{req.token}}/{{req.secret}}">{{req.token}}</a>
        </p>
        {% if not req.processed %}
        <p>
            <form action="/payout_request_processed" method="post" id="submit_form">
                <input type="hidden" name="token" value="{{req.token}}" />
                <input type="hidden" name="secret" value="{{req.secret}}" />
                <input type="button" value="Set processed" id="submit_button" data-toggle="modal" data-target="#confirm_submit" class="btn btn-default" />
            </form>
        </p>
        {% endif %}
        {% endif %}
        <br/>
    </div>
